@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --max-height: 800px;
}

@layer components {
  .navbar-links {
    @apply relative flex items-center justify-center text-white hover:text-blue-500 px-3 transition-all duration-500
    after:content-[""] after:absolute after:top-5 after:left-0 after:w-0 hover:after:w-full after:transition-all after:duration-500 after:bg-blue-500 after:h-0.5 after:rounded-lg;
  }

  .footer-icons {
    @apply text-white w-11 h-11 rounded-full flex items-center justify-center transition-all duration-100 hover:bg-blue-500;
  }

  .icon-hover {
    @apply size-5 text-(--color-blue) fill-(--color-blue) group-hover/social:text-white group-hover/social:fill-white;
  }

  .footer-links {
    @apply text-white hover:text-blue-500 transition-all duration-500;
  }
}

@layer utilities {
  /* Animações*/

  /* Animação Inicial */
  .ani-appear {
    visibility: hidden;
    animation: appear linear 4.5s;
  }

  @keyframes appear {
    0% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    25% {
      opacity: 1;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    75% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
      transition: 1s;
      opacity: 0;
    }
  }

  .ani-intro {
    opacity: 0;
    animation: intro linear 4s;
  }

  @keyframes intro {
    0% {
      visibility: visible;
      transform: translateX(0);
    }
    25% {
      visibility: visible;

      opacity: 1;
      transform: translateX(0);
    }
    50% {
      visibility: visible;

      opacity: 1;
      transform: translateX(0);
    }
    75% {
      visibility: visible;
      opacity: 1;
      transform: translateX(-50%);
    }
    100% {
      visibility: visible;
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  /* Animação Inicial */

  /* Animação da logo */
  .ani-floating {
    animation: floating 3s infinite ease-in-out;
  }

  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0px);
    }
  }

 /* Animação da logo small */
  .ani-floating-small {
    animation: floating-small 3s infinite ease-in-out;
  }

  @keyframes floating-small {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  /* Animação dos icones dos cards cards*/
  .ani-call {
    animation: call 1s linear infinite;
  }

  @keyframes call {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(15deg);
    }
    75% {
      transform: rotate(-30deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .ani-grow {
    animation: grow 3s infinite ease-in-out;
  }

  @keyframes grow {
    0% {
      transform: scale(1) rotate(0deg);
    }
    25% {
      transform: scale(1.2) rotate(-40deg);
    }
    70% {
      transform: scale(1.2) rotate(-40deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
  }
  /* Animação dos icones dos cards cards*/
}

@theme {
  --primary:  oklch(62.3% 0.214 259.815);
  --primary-hover: #155dfc;
  --secondary: #1c398e;
  --header-footer: #0e111b;
  --body: #1b2136;
  --card: #151a2a;
  --cards: #151a2a;
  --title: white;
  --text: white;
  --text-light: #ffffff;
  --text-gray: #4b5563;
  --azul-black-origial: #111827;
}

body {
  background-color: var(--body);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}